layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/zjstatus.wasm" {
                format_left   "{mode}#[fg=#1f1f28,bg=#7E9CD8]{session}#[fg=#7E9CD8,bg=#1f1f28] {tabs}"

                format_right "{pipe_zjstatus_hints}{command_right}{command_host}"
                format_space  ""
                fomrat_center "#[fg=#ffffff,bg=#1f1f28]"

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#6C7086]{char}"
                border_position "top"

                hide_frame_for_single_pane "true"

                mode_locked        "#[fg=#7E9CD8,bg=#1f1f28]#[fg=#1f1f28,bg=#7E9CD8]#[fg=#7E9CD8,bg=#7E9CD8]"
                mode_resize        "#[fg=#83B692,bg=#1f1f28]#[fg=#1f1f28,bg=#83B692]󰩨#[fg=#83B692,bg=#7E9CD8]"
                mode_pane          "#[fg=#957fb8,bg=#1f1f28]#[fg=#1f1f28,bg=#957fb8]#[fg=#957fb8,bg=#7E9CD8]"
                mode_tab           "#[fg=#DCA561,bg=#1f1f28]#[fg=#1f1f28,bg=#DCA561]󰓩#[fg=#DCA561,bg=#7E9CD8]"
                mode_scroll        "#[fg=#76946A,bg=#1f1f28]#[fg=#1f1f28,bg=#76946A]#[fg=#76946A,bg=#7E9CD8]"
                mode_enter_search  "#[fg=#173753,bg=#1f1f28]#[fg=#ffffff,bg=#173753]󱈄#[fg=#173753,bg=#7E9CD8]"
                mode_search        "#[fg=#173753,bg=#1f1f28]#[fg=#ffffff,bg=#173753]#[fg=#173753,bg=#7E9CD8]"
                mode_rename_tab    "#[fg=#C34043,bg=#1f1f28]#[fg=#ffffff,bg=#C34043]#[fg=#C34043,bg=#7E9CD8]"
                mode_rename_pane   "#[fg=#C34043,bg=#1f1f28]#[fg=#ffffff,bg=#C34043]#[fg=#C34043,bg=#7E9CD8]"
                mode_move          "#[fg=#A63A50,bg=#1f1f28]#[fg=#ffffff,bg=#A63A50]#[fg=#A63A50,bg=#7E9CD8]"
                mode_session       "#[fg=#FFBF46,bg=#1f1f28]#[fg=#1f1f28,bg=#FFBF46]#[fg=#FFBF46,bg=#7E9CD8]"
                mode_prompt        "#[fg=#F0E7D8,bg=#1f1f28]#[fg=#1f1f28,bg=#F0E7D8]#[fg=#F0E7D8,bg=#7E9CD8]"
                mode_normal        "#[fg=#44BBA4,bg=#1f1f28]#[fg=#1f1f28,bg=#44BBA4]#[fg=#44BBA4,bg=#7E9CD8]"


                tab_normal   "#[fg=#ffffff,bg=#1f1f28] {index} #[fg=#ffffff,bg=#1f1f28] {name} "
                tab_active   "#[fg=#957fb8,bg=#1f1f28]#[fg=#1f1f28,bg=#957fb8] {index} #[fg=#1f1f28,bg=#957fb8] {name} #[fg=#957fb8,bg=#1f1f28]"


                command_right_command     "fish -c ~/.local/scripts/tmux/right.sh"
                command_right_format      "{stdout}"
                command_right_interval    "60"
                command_right_rendermode  "dynamic"

                command_host_command "hostname"
                command_host_format  "#[fg=#7e9cd8]#[fg=black,bg=#7e9cd8] {stdout}#[fg=#7e9cd8,bg=black]#[fg=#303030,bg=#1f1f28]"
                command_host_interval    "0"
                command_host_rendermode  "static"

                pipe_zjstatus_hints_format "{output}"
            }
        }
    }
}
